APP_NAME=svai12-backend
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://svai12.ru
FRONTEND_URL=https://svai12.ru
FORM_MIN_FILL_MS=1500
TURNSTILE_ENABLED=false
TURNSTILE_SECRET_KEY=

LOG_CHANNEL=single
LOG_LEVEL=error

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file

QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.reg.ru
MAIL_PORT=465
MAIL_USERNAME=no-reply@svai12.ru
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="no-reply@svai12.ru"
MAIL_FROM_NAME="svai12.ru"
ORDERS_RECIPIENT="orders@svai12.ru"
